NODE_ENV=development
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_SENTRY_DSN=https://examplePublicKey@o0000000.ingest.sentry.io/0000000
SMTP_EMAIL=emailexample@gmail.com
SMTP_PASSWORD=passwordexample...
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/example...
SENTRY_AUTH_TOKEN=sntrys_exampleAuthToken1234567890abcdef
SENTRY_RELEASE=fernanda-portfolio@1.0.0
SENTRY_ORG=your-organization-slug
SENTRY_PROJECT=your-project-name
